.header {
  display: inline-block;
  padding-inline: 1em;
  padding-bottom: 1.05em;
  padding-top: 1.05em;
  width: 100%;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 5em;
  position: relative;
}
.header__h2 {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  font-family: Raleway;
  font-weight: 400;
  color: rgb(1, 178, 243);
  font-size: 1.4rem;
}
.header__img {
  position: absolute;
  right: 20px;
  top: 25px;
}
.header__ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  margin-right: 4%;
  width: 100%;
  display: none;
  font-family: Open Sans;
  font-size: 0.65em;
  font-weight: 700;
}
.header__ul li {
  padding-inline: 1em;
}
.header__ul li a {
  letter-spacing: 0.3em;
  display: block;
  text-decoration: none;
  padding-inline: 1em;
  padding-bottom: 2.2em;
  padding-top: 2.2em;
  cursor: pointer;
  color: rgb(192, 192, 192);
}
.header__ul li a:hover {
  color: black;
  padding-bottom: 1.85em;
  border-bottom: 4px solid rgb(1, 178, 243);
}

@media only screen and (min-width: 1000px) {
  .header {
    padding: 0;
    padding-inline: 0;
    display: inline-flex;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
  }
  .header__img {
    display: none;
  }
  .header__h2 {
    padding-left: 0;
    margin-left: 4%;
    display: inline-flex;
    justify-content: flex-start;
  }
  .header__ul {
    display: inline-flex;
    justify-content: flex-end;
  }
}
.us {
  text-align: center;
  display: block;
  margin-bottom: 3em;
}
.us__sell {
  padding-inline: 6em;
}
.us__sell__h2 {
  font-family: Raleway;
  font-weight: 500;
  padding-bottom: 0.5em;
  font-size: 2em;
}
.us__sell__h4 {
  font-weight: 500;
  font-size: 0.8em;
  padding-bottom: 1.6em;
}
.us__sell button {
  color: white;
  font-weight: 700;
  background-color: rgb(1, 178, 243);
  padding: 1em;
  border: none;
  border-radius: 3em;
  width: 100%;
  max-width: 30em;
  box-shadow: 5px 5px 5px 1px rgba(1, 178, 243, 0.2);
}
.us__img {
  display: block;
  width: 100%;
}
.us__img__small {
  width: 100%;
}
@media only screen and (min-width: 1000px) {
  .us__img__small {
    display: none;
  }
}
.us__img__big {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 1000px) {
  .us__img__big {
    display: block;
  }
}
.us__h2 {
  margin-top: 0.2em;
  font-family: Raleway;
  font-weight: 300;
  font-size: 2rem;
  padding-inline: 1em;
}
.us__daily {
  display: inline-block;
  margin-top: 2em;
  text-align: center;
  margin-bottom: 2em;
}
.us__daily div {
  display: inline-block;
  position: relative;
  padding-top: 2em;
  vertical-align: top;
  margin-inline: 4em;
}
.us__daily__img {
  position: absolute;
  right: 1em;
}
.us__daily #eye {
  padding-top: 0.8em;
}
.us__daily h3 {
  font-family: Raleway;
  padding-top: 0.9em;
}
.us__daily h4 {
  padding-top: 1.4em;
  font-family: Raleway;
  font-weight: 300;
  width: 8em;
  margin: auto;
}

.benefits {
  text-align: center;
  display: block;
  background-color: rgb(247, 247, 247);
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}
.benefits__card, .benefits__card--red, .benefits__card--aquamarine {
  margin: auto;
  margin-bottom: 2.5em;
  margin-top: 2.5em;
  background-color: white;
  padding: 1.5em;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 0.5em;
  max-width: 35em;
  width: 80%;
}
.benefits__card h2, .benefits__card--red h2, .benefits__card--aquamarine h2 {
  font-family: Raleway;
  font-weight: 500;
  padding-bottom: 1em;
  text-align: left;
}
.benefits__card h4, .benefits__card--red h4, .benefits__card--aquamarine h4 {
  text-align: left;
  font-weight: 500;
  font-size: 0.8em;
  padding-bottom: 0.9em;
  font-family: Open Sans;
}
.benefits__card__hr, .benefits__card--red__hr, .benefits__card--aquamarine__hr {
  display: none;
  width: 65%;
  height: 4px;
}
.benefits__card__images, .benefits__card--red__images, .benefits__card--aquamarine__images {
  position: relative;
  padding-bottom: 1.2em;
  margin-top: 1em;
  padding-top: 1em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
}
.benefits__card__images__redbg, .benefits__card--red__images__redbg, .benefits__card--aquamarine__images__redbg {
  width: 8em;
  position: absolute;
  top: -1.1em;
  right: -1.5em;
  z-index: 0;
}
.benefits__card__images__bluebg, .benefits__card--red__images__bluebg, .benefits__card--aquamarine__images__bluebg {
  width: 9em;
  position: absolute;
  z-index: 0;
  top: -0.3em;
}
.benefits__card__images__laptop, .benefits__card--red__images__laptop, .benefits__card--aquamarine__images__laptop {
  position: relative;
  width: 12em;
  z-index: 1;
}
.benefits__card__images__phone, .benefits__card--red__images__phone, .benefits__card--aquamarine__images__phone {
  position: relative;
  width: 12em;
  z-index: 1;
}
.benefits__card__img, .benefits__card--red__img, .benefits__card--aquamarine__img {
  width: 14em;
  margin-top: 4em;
}
.benefits__card .aquamarine, .benefits__card--red .aquamarine, .benefits__card--aquamarine .aquamarine {
  position: relative;
  background-color: rgb(0, 219, 183);
  border-radius: 0.3em;
  margin: -1.5em;
  margin-top: 20px;
}

.aquahidden {
  background-color: rgb(0, 219, 183);
  border-radius: 0.3em;
  width: 10em;
  height: 20em;
  display: none;
}

#hidden {
  margin: 7em;
  display: flex;
  align-items: center;
  width: 11em;
  height: 11em;
}

@media only screen and (min-width: 1000px) {
  .benefits {
    display: flexbox;
    padding: 2em;
    padding-top: 4em;
    padding-bottom: 7em;
  }
  .benefits__card {
    padding: 3em;
    max-width: 65em;
    width: 80%;
    display: flex;
    height: 20em;
    align-items: center;
  }
  .benefits__card h4 {
    width: 85%;
    padding-bottom: 2.5em;
  }
  .benefits__card__hr {
    display: block;
    border: none;
    background-color: rgb(92, 168, 255);
  }
  .benefits__card__images__redbg {
    width: 15em;
    top: -1.7em;
    right: 0;
  }
  .benefits__card__images__bluebg {
    width: 15em;
    left: 3em;
  }
  .benefits__card__images__laptop {
    margin-top: 2em;
    width: 20em;
    margin-right: 2em;
    margin-left: 9em;
  }
  .benefits__card__images__phone {
    margin-left: 3em;
    width: 20em;
    margin-right: 9em;
  }
  .benefits__card--red {
    align-items: center;
    padding: 3em;
    max-width: 65em;
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    height: 20em;
  }
  .benefits__card--red h4 {
    width: 85%;
    padding-bottom: 2.5em;
  }
  .benefits__card--red__hr {
    display: block;
    border: none;
    background-color: rgb(255, 92, 119);
  }
  .benefits #lastCard {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 65em;
    width: 80%;
    display: flex;
    height: 20em;
  }
  .benefits__card--aquamarine {
    align-items: center;
    margin: 0;
    margin-right: 2em;
    max-width: 35em;
    height: 20em;
    display: inline-flex;
    padding: 3em;
  }
  .benefits__card--aquamarine h4 {
    width: 85%;
    padding-bottom: 2.5em;
  }
  .benefits__card--aquamarine__hr {
    display: block;
    border: none;
    background-color: rgb(123, 224, 177);
  }
  .benefits .aquahidden {
    display: flex;
    align-content: center;
    width: 50%;
  }
  .benefits .aquamarine {
    display: none;
  }
  .benefits__img {
    display: none;
  }
}
.pricing {
  text-align: center;
  display: block;
  padding-top: 1.7em;
  font: Open Sans;
}
.pricing__title {
  padding-top: 1.5em;
  font-family: Raleway;
  font-weight: 400;
  font-size: 2em;
  padding-bottom: 0.9em;
  width: 100%;
  margin-inline: auto;
}
.pricing__col1 {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 6em;
  height: 6em;
  margin-right: 11%;
  margin-top: 2.3em;
}
.pricing__col1__centrar {
  text-align: center;
}
.pricing__col1 h3 {
  font-size: 1.1em;
  font-family: Raleway;
}
.pricing__col1__offer {
  font-size: 0.7em;
}
.pricing__col2 {
  display: inline-block;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
.pricing__col2 div {
  width: 100%;
  margin-top: 1em;
  width: -moz-fit-content;
  width: fit-content;
}
.pricing__col2 div h4 {
  font-weight: 450;
  margin: 0;
  font-size: 0.7em;
  width: -moz-fit-content;
  width: fit-content;
}
.pricing__col2 div h4 img {
  margin-right: 0.8em;
}
.pricing__box {
  display: block;
  position: relative;
  margin: auto;
  border: 1px solid rgb(255, 92, 119);
  border-radius: 1em;
  padding: 1em;
  padding-bottom: 2em;
  margin-bottom: 4em;
  width: 86%;
  max-width: 24em;
}
.pricing__box h2 {
  color: rgb(255, 92, 119);
  font-weight: 350;
  font-size: 3em;
}
.pricing__box button {
  background-color: rgb(255, 92, 119);
  position: absolute;
  border: none;
  color: white;
  padding: 1em;
  padding-inline: 2em;
  border-radius: 3em;
  right: 25%;
  left: 25%;
  bottom: -1.7em;
  font-weight: 700;
}
.pricing__box--blue {
  display: block;
  position: relative;
  margin: auto;
  border: 1px solid rgb(92, 168, 255);
  border-radius: 1em;
  padding: 1em;
  padding-bottom: 2em;
  margin-bottom: 4em;
  width: 86%;
  max-width: 24em;
}
.pricing__box--blue h2 {
  color: rgb(92, 168, 255);
  font-weight: 350;
  font-size: 3em;
}
.pricing__box--blue button {
  background-color: rgb(92, 168, 255);
  position: absolute;
  border: none;
  color: white;
  padding: 1em;
  padding-inline: 2em;
  border-radius: 3em;
  right: 25%;
  left: 25%;
  bottom: -1.7em;
  font-weight: 700;
}
.pricing__box--green {
  display: block;
  position: relative;
  margin: auto;
  border: 1px solid rgb(123, 224, 177);
  border-radius: 1em;
  padding: 1em;
  padding-bottom: 2em;
  margin-bottom: 4em;
  width: 86%;
  max-width: 24em;
}
.pricing__box--green h2 {
  color: rgb(123, 224, 177);
  font-weight: 350;
  font-size: 3em;
}
.pricing__box--green button {
  background-color: rgb(123, 224, 177);
  position: absolute;
  border: none;
  color: white;
  padding: 1em;
  padding-inline: 2em;
  border-radius: 3em;
  right: 25%;
  left: 25%;
  bottom: -1.7em;
  font-weight: 700;
}
.pricing__box:hover {
  box-shadow: 0px 5px 10px 1px rgb(255, 157, 173);
  max-width: 24.5em;
  width: 90%;
}
.pricing__box:hover button {
  box-shadow: 0px 5px 10px 1px rgb(255, 157, 173);
}
.pricing__box--blue:hover {
  box-shadow: 0px 5px 10px 1px rgb(154, 201, 255);
  max-width: 24.5em;
  width: 90%;
}
.pricing__box--blue:hover button {
  box-shadow: 0px 5px 10px 1px rgb(154, 201, 255);
}
.pricing__box--green:hover {
  box-shadow: 0px 5px 10px 1px rgb(148, 218, 185);
  max-width: 24.5em;
  width: 90%;
}
.pricing__box--green:hover button {
  box-shadow: 0px 5px 10px 1px rgb(148, 218, 185);
}

@media only screen and (min-width: 1000px) {
  .pricing {
    height: 37em;
  }
  #prices {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .pricing__col1 {
    text-align: center;
    margin: auto;
    display: block;
  }
  .pricing__col1 {
    text-align: center;
    width: 100%;
  }
  .pricing__col2 {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 2em;
  }
  .pricing__col2 div {
    text-align: center;
    margin-inline: auto;
  }
  .pricing__box, .pricing__box--blue, .pricing__box--green {
    width: 17em;
    margin: 3em;
    margin-bottom: 6em;
    height: 22em;
    padding: 2em;
  }
  .pricing__box:hover, .pricing__box--green:hover, .pricing__box--blue:hover {
    width: 19em;
    height: 24em;
  }
  .pricing__box:hover .pricing__col2 div, .pricing__box--green:hover .pricing__col2 div, .pricing__box--blue:hover .pricing__col2 div {
    padding-bottom: 0.4em;
  }
}
.contact {
  padding: 2em;
  padding-top: 0;
  font-family: Open Sans;
  display: block;
  text-align: center;
}
.contact__div {
  text-align: center;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}
.contact__div div {
  text-align: left;
  max-width: 20em;
  display: inline-block;
  vertical-align: top;
}
.contact__title {
  font-family: Raleway;
  font-weight: 400;
  font-size: 2.6em;
  padding-bottom: 0.6em;
  padding-top: 1em;
  margin-right: 4.1em;
}
.contact__subtitle {
  font-weight: 500;
  padding-bottom: 2em;
}
.contact__info {
  padding-left: 2.1em;
  padding-top: 0.8em;
  color: rgb(194, 194, 194);
  font-weight: 500;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.contact__info img {
  position: absolute;
  left: -0.05em;
}
.contact__form {
  margin-top: 3em;
  text-align: left;
  vertical-align: start;
}
.contact__form__h4 {
  color: rgb(1, 178, 243);
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.55em;
  padding-bottom: 1em;
}
.contact__form__input {
  border: none;
  border-bottom: 2px solid rgb(194, 194, 194);
  margin-bottom: 3.5em;
  width: 100%;
}
.contact__form__div {
  width: 100%;
  position: relative;
  text-align: right;
}
.contact__form__div #checkbox-container {
  left: 0;
  top: 0.1em;
  position: absolute;
}
.contact__form__div__check {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.1em solid rgb(202, 202, 202);
  border-radius: 0.15em;
  display: grid;
  place-content: center;
}
.contact__form__div__check:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}
.contact__form__div__check::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  box-shadow: inset 1em 1em rgb(92, 168, 255);
}
.contact__form__div__check:checked::before {
  transform: scale(1);
  transform-origin: bottom left;
  -webkit-clip-path: polygon(20% 50%, 12% 60%, 40% 100%, 93% 18%, 85% 10%, 40% 80%);
          clip-path: polygon(20% 50%, 12% 60%, 40% 100%, 93% 18%, 85% 10%, 40% 80%);
}
.contact__form__div h4 {
  text-align: left;
  padding-left: 3em;
  font-size: 0.65em;
  font-weight: 500;
  color: rgb(155, 155, 155);
}
.contact__form__div #divbtn {
  width: 100%;
  text-align: right;
}
.contact__form__div__bttn {
  color: white;
  font-weight: 700;
  background-color: rgb(1, 178, 243);
  margin-top: 1em;
  padding: 1em;
  border: none;
  border-radius: 3em;
  width: 13em;
  max-width: 30em;
  box-shadow: 5px 5px 5px 1px rgba(1, 178, 243, 0.2);
}

@media only screen and (min-width: 1000px) {
  .contact__div {
    display: inline-flex;
  }
  .contact__div div {
    max-width: 30em;
  }
  .contact__info {
    padding-right: 1em;
    display: inline-flex;
  }
}
footer {
  padding: 1em;
  position: relative;
  padding-inline: 0;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
footer h2 {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  font-family: Raleway;
  margin-left: 7%;
  font-weight: 400;
  color: rgb(1, 178, 243);
}
footer h4 {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(155, 155, 155);
  margin-left: 7%;
}
footer div {
  position: absolute;
  right: 7%;
  top: 1.7em;
}
footer div img {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

body {
  min-width: 320px;
}

button:hover, input[type=submit] {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */