.benefits
    text-align: center
    display: block
    background-color: rgb(247, 247, 247)
    padding-top: 2em
    padding-bottom: 2em
    text-align: center

    &__card, &__card--red, &__card--aquamarine
        margin: auto
        margin-bottom: 2.5em
        margin-top: 2.5em
        background-color: white
        padding: 1.5em
        border: 1px solid rgb(236, 236, 236)
        border-radius: 0.5em
        max-width: 35em
        width: 80%

        h2
            font-family: Raleway
            font-weight: 500
            padding-bottom: 1em
            text-align: left

        h4
            text-align: left
            font-weight: 500
            font-size: 0.8em
            padding-bottom: 0.9em
            font-family: Open Sans

        &__hr
            display: none
            width: 65%
            height: 4px

        &__images
            position: relative
            padding-bottom: 1.2em
            margin-top: 1em
            padding-top: 1em
            max-width: fit-content
            margin: auto
            

            &__redbg
                width: 8em
                position: absolute
                top: -1.1em
                right: -1.5em
                z-index: 0

            &__bluebg
                width: 9em
                position: absolute
                z-index: 0
                top: -0.3em

            &__laptop
                position: relative
                width: 12em
                z-index: 1

            &__phone
                position: relative
                width: 12em
                z-index: 1


        &__img
            width: 14em
            margin-top: 4em

        .aquamarine
                position: relative
                background-color: rgb(0, 219, 183)
                border-radius: 0.3em
                margin: -1.5em
                margin-top: 20px

.aquahidden
    background-color: rgb(0, 219, 183)
    border-radius: 0.3em
    width: 10em
    height: 20em
    display: none

#hidden
    margin: 7em
    display: flex
    align-items: center
    width: 11em
    height: 11em

@media only screen and (min-width: 1000px)

    .benefits
        display: flexbox
        padding: 2em
        padding-top: 4em
        padding-bottom: 7em

        &__card
            $color: rgb(92, 168, 255)
            padding: 3em
            max-width: 65em
            width: 80%
            display: flex
            height: 20em
            align-items: center

            h4
                width: 85%
                padding-bottom: 2.5em

            &__hr
                display: block
                border: none
                background-color: $color
            
            &__images

                &__redbg
                    width: 15em
                    top: -1.7em
                    right: 0

                &__bluebg
                    width: 15em
                    left: 3em

                &__laptop
                    margin-top: 2em
                    width: 20em
                    margin-right: 2em
                    margin-left: 9em

                &__phone
                    margin-left: 3em
                    width: 20em
                    margin-right: 9em

        &__card--red 
            $color:rgb(255, 92, 119)
            align-items: center
            padding: 3em
            max-width: 65em
            width: 80%
            display: flex
            flex-direction: row-reverse
            height: 20em

            h4
                width: 85%
                padding-bottom: 2.5em

            &__hr
                display: block
                border: none
                background-color: $color

        #lastCard
            align-items: center
            justify-content: space-between
            margin: auto
            max-width: 65em
            width: 80%
            display: flex
            height: 20em

        &__card--aquamarine
            $color:rgb(123, 224, 177)
            align-items: center
            margin: 0
            margin-right: 2em
            max-width: 35em
            height: 20em
            display: inline-flex
            padding: 3em

            h4
                width: 85%
                padding-bottom: 2.5em

            &__hr
                display: block
                border: none
                background-color: $color
        
        .aquahidden
            display: flex
            align-content: center
            width: 50%
            
        .aquamarine
            display: none

        &__img
            display: none
