.header
    display: inline-block
    padding-inline: 1em
    padding-bottom: 0.7em
    padding-top: 0.7em
    width: 100%
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.2)
    margin-bottom: 5em
    position: relative

    &__h2
        width: fit-content
        display: inline-block
        font-family: Raleway
        font-weight: 400
        color: rgb(1, 178, 243)
        font-size: 1.4rem

    &__img
        position: absolute
        right: 20px
        top: 20px

    &__ul
        margin: 0
        padding: 0
        overflow: hidden
        list-style-type: none
        margin-right: 6%
        width: 100%
        display: none
        font-family: Open Sans
        font-size: 0.65em
        font-weight: 600

        li
            float: right
            padding-inline: 1em

            a
                letter-spacing: 0.3em
                display: block
                text-decoration: none
                padding-inline: 1em
                padding-bottom: 1.65em
                padding-top: 1.65em
                cursor: pointer
                color: rgb(192, 192, 192)

            a:hover 
                color: black
                

@media only screen and (min-width: 1000px)

    .header
        padding-inline: 4em
        display: inline-flex
        align-items: center
        padding-bottom: 0
        padding-top: 0

        &__img
            display: none

        &__h2
            padding-left: 0
            margin-left: 6%
            display: inline-flex
            justify-content: flex-start

        &__ul
            display: inline-flex
            justify-content: flex-end