.pricing
    text-align: center
    display: block
    padding-top: 1.7em
    font: Open Sans

    &__title
        padding-top: 1.5em
        font-family: Raleway
        font-weight: 400
        font-size: 2em
        padding-bottom: 0.6em 
        width: 100%
        margin-inline: auto

    &__col1
        display: inline-block
        vertical-align: top
        text-align: center
        width: 6em
        height: 6em
        margin-right: 11%
        margin-top: 2.3em

        &__centrar
            text-align: center

        h3
            font-size: 1.1em
            font-family: Raleway

        &__offer
            font-size: 0.7em



    &__col2
        display: inline-block
        text-align: center
        width: fit-content

        div
            width: 100%
            margin-top: 1em
            width: fit-content

            h4
                font-weight: 450
                margin: 0
                font-size: 0.7em
                width: fit-content

                img
                    margin-right: 0.8em

    
    &__box
        $colorbox: rgb(255, 92, 119)
        display: block
        position: relative
        margin: auto
        border: 1px solid $colorbox
        border-radius: 1em
        padding: 1em
        padding-bottom: 2em
        margin-bottom: 4em
        width: 86%
        max-width: 24em

        h2
            color: $colorbox
            font-weight: 350
            font-size: 3em

        button
            background-color: $colorbox
            position: absolute
            border: none
            color: white
            padding: 1em
            padding-inline: 2em
            border-radius: 3em
            right: 25%
            left: 25%
            bottom: -1.7em
            font-weight: 700

        &--blue 
            $colorbox: rgb(92, 168, 255)
            display: block
            position: relative
            margin: auto
            border: 1px solid $colorbox
            border-radius: 1em
            padding: 1em
            padding-bottom: 2em
            margin-bottom: 4em
            width: 86%
            max-width: 24em

            h2
                color: $colorbox
                font-weight: 350
                font-size: 3em

            button
                background-color: $colorbox
                position: absolute
                border: none
                color: white
                padding: 1em
                padding-inline: 2em
                border-radius: 3em
                right: 25%
                left: 25%
                bottom: -1.7em
                font-weight: 700
        
        &--green
            $colorbox: rgb(123, 224, 177)
            display: block
            position: relative
            margin: auto
            border: 1px solid $colorbox
            border-radius: 1em
            padding: 1em
            padding-bottom: 2em
            margin-bottom: 4em
            width: 86%
            max-width: 24em

            h2
                display: inline-block
                color: $colorbox
                font-weight: 350
                font-size: 3em

            button
                background-color: $colorbox
                position: absolute
                border: none
                color: white
                padding: 1em
                padding-inline: 2em
                border-radius: 3em
                right: 25%
                left: 25%
                bottom: -1.7em
                font-weight: 700
    
    &__box:hover
        $color: rgb(255, 157, 173)
        box-shadow: 0px 5px 10px 1px $color
        max-width: 24.5em
        width: 90%
        button
            box-shadow: 0px 5px 10px 1px $color

    &__box--blue:hover 
        $color: rgb(154, 201, 255)
        box-shadow: 0px 5px 10px 1px $color
        max-width: 24.5em
        width: 90%
        button
            box-shadow: 0px 5px 10px 1px $color

    &__box--green:hover 
        $color: rgb(148, 218, 185)
        box-shadow: 0px 5px 10px 1px $color
        max-width: 24.5em
        width: 90%
        button
            box-shadow: 0px 5px 10px 1px $color

#coinSelector
    ul
        background-color: rgb(247, 247, 247)
        list-style-type: none
        display: inline-flex
        border-radius: 10em
        margin-bottom: 2em

        li
            padding: 1em
        
        li:hover 
            cursor: pointer
            background-color: rgb(168, 230, 255)
            border-radius: 10em

@media only screen and (min-width: 1000px)

    .pricing
        height: 43em

    #prices
        display: inline-flex
        justify-content: center
        align-items: center
        width: 100%

    .pricing__col1
        text-align: center
        margin: auto
        display: block

    .pricing__col1
        text-align: center
        width: 100%

    .pricing__col2
        display: block
        width: 100%
        text-align: center
        margin-top: 2em

        div
            text-align: center
            margin-inline: auto

    .pricing__box, .pricing__box--blue, .pricing__box--green
        width: 17em
        margin: 3em
        margin-bottom: 6em
        height: 22em
        padding: 2em

    .pricing__box:hover, .pricing__box--green:hover, .pricing__box--blue:hover
        width: 19em
        height: 24em

        .pricing__col2
            div
                padding-bottom: 0.4em
        
