.us
    text-align: center
    display: block

    &__sell
        padding-inline: 40px

        &__h2
            font-family: Raleway
            font-weight: 500
            padding-bottom: 15px
            
        &__h4
            font-weight: 500
            font-size: 13px
            padding-bottom: 30px

        button
            color: white
            font-weight: 700
            background-color: rgb(1, 178, 243)
            padding: 15px
            border: none
            border-radius: 30px
            width: 100%
            max-width: 350px
            box-shadow: 5px 5px 5px 1px rgba(1, 178, 243, 0.2)

    &__img
        margin-top: 20px
        margin-left: -50%
        width: 200%
        
        img
            width: 100%
            overflow: hidden

    &__h2
        margin-top: 10px
        font-family: Raleway
        font-weight: 300
        font-size: 30px
        padding-inline: 30px

    &__daily
        display: block
        margin-top: 40px
        text-align: center
        margin-bottom: 30px

        div
            position: relative
            padding-top: 30px
            text-align: center
            width: fit-content
            margin: auto
        
        &__img
            position: absolute
            right: 13px
            
        
        #eye
            padding-left: 10px 
            padding-top: 13px 

        h3
            font-family: Raleway
            padding-top: 10px

        h4
            padding-top: 20px
            font-family: Raleway
            font-weight: 300
            width: 120px
            margin: auto